*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header part */

.banner{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    height: 700px;
}
.banner-text{
    text-align: right;
    color: white;
    margin: 0 100px 200px 900px;
    padding-top: 200px;
}
.positive{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mind{
    margin-bottom: 20px;
}
.white-btn{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: rgb(48, 48, 245);
    font-weight: 600;
}
/* service style */

.service{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100PX; 
}
.system{
    padding-top: 80px;
    width: 50%;
}
.owe{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 20);
    margin-bottom: 20px;
}
.system p{
    padding-right: 50px;
    text-align: justify;
    justify-content: center;
    margin-bottom: 20px;
}
.good{
    color: rgb(33, 33, 161);
}
.design{
    background-color: rgb(242, 242, 250);
    height: 400px;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 40px 20px;
    padding-right: 60px;
    padding-left: 50px;
}
.design-title{
    margin-bottom: 10px;
}
.design-box{
    background-color: white;
    border: none;
    padding: 10PX;
    border-radius: 5px;
    margin-bottom: 10px;
}
.design-box:hover{
    border: 1px solid rgb(8, 8, 134);
}
/* feature style */

.feature {
    display: flex;
    margin: 100px 100px;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}
.lady{
    width: 50%;
    padding: 10px 20px 0 10px;
}
.lady img{
    width: 100%;
}
.flow{
    width: 50%;
    padding-top: 250px;
}
.negative{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.flow p, ul{
    color: rgb(95, 87, 87);
    padding-left: 0;
    padding-right: 0
}
ul li {
    list-style: none;
    position: relative; 
  }
 

  .fa-check{
    color:green;
  }
  .mind ul{
    padding-left: 0;
  }
/* plan style */

.plan{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.develop {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 100px 50px 100px;
    justify-content: space-between;
}
.site{
    padding-left: 30px;
    padding-right: 30px;
}
/* contact style */

.contact {
    background-image: url(images/gradient1.png),url(images/watch.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
   padding-bottom: 100px;
   margin-bottom: 100px; 
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px; 
}
.direction{
    padding-left: 100px;
    padding-top: 100px; 
}
.mindset{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* footer style */

.footer{
    background-color: rgb(0, 0, 20);
    height: 400px;
    display: flex;
    color: white;
}
.info{
    margin: 60px 0 60px 200px;
}
.info-details{
    margin-right: 250px;
}
.info-title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.info p{
    padding-bottom: 20px;
    font-weight: 200;
    color: rgb(223, 221, 221);
}
.info a{
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 20px;
    color: rgb(223, 221, 221);
}
.icons img{
    margin-right: 15px;
}
/* subscribe style */

.subscribe{
    margin: 60px 250px 60px 0;
}
.sub-title{
    padding-bottom: 20px;
}
.sub-input {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 20);
    color: #fff;
}
.subscribe-btn{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(33, 33, 161);
    margin-top: 20px;
    font-weight: 600;
} 